{% extends 'app/base.html' %}

{% block content%}
    <section class="site-body">
        <h2>Что делает Java-программист?</h2>
        <p>Java платформа позволяет создавать практически все виды приложений, такие как: web сайты, всевозможные серверы, приложения для персональных компьютеров и даже микропрограммы для умных домов и роботов. <br> Главная задача программиста Java — написать новый код, чтобы мобильное приложение, мессенджер или веб-сайт могли работать, либо же модифицировать уже существующий код. Также эти специалисты сотрудничают с дизайнерами, project-менеджерами, тестировщиками и другими техническими членами команды.</p>
    </section>
{%endblock%}
